__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
.venv*/
venv/
env/
.env
.venv311/

# Jupyter
.ipynb_checkpoints

# macOS
.DS_Store

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Editor folders
.vscode/
.idea/